* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header-info {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

#chat-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  width: 100%;
}

.input-row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  gap: 10px;
}

#chat-text {
  border: 2px solid #ccc;
  padding: 10px;
  flex: 1;
  border-radius: 5px;
}
#send-button {
  width: auto;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
  border-radius: 5px;
}

#error-message {
  color: #d32f2f;
  margin-top: 8px;
}

#timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#timeline li {
  padding: 5px 10px;
}
#timeline li:nth-child(odd) {
  background: #eee;
}
.scroll-text {
  font-size: 50px;
  display: inline-block;
  padding-left: 100%;
  white-space: nowrap;
}
